@import "_status.css";
/* Стили для карточки заказа */
.order-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%; /* Занимает всю высоту контейнера */
    position: relative; /* Для позиционирования кнопок */
}


.order-card.removing {
    opacity: 0;
    transform: scale(0.9);
}


.order-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.order-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    flex-grow: 1; /* Занимает все доступное пространство */
}

.order-title {
    font-size: 20px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
}

.order-details {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.order-details strong {
    color: #2c3e50;
}

/* Стили для блюд */
.order-items-title {
    font-size: 14px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 5px;
}

.order-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}


.order-items li:last-child {
    border-bottom: none;
    padding-top: 8px;
    padding-bottom: 0;
}

.order-items li span {
    font-size: 14px;
    color: #555;
}

.order-items li span:first-child {
    font-weight: 500;
    color: #2c3e50;
}

.order-items li span:last-child {
    color: #777;
}

/* Стили для кнопок действий */
.order-actions {
    display: flex;
    gap: 8px; /* Уменьшаем отступ между кнопками */
    align-items: center;
    justify-content: flex-end; /* Выравниваем кнопки по правому краю */
    margin-top: 20px; /* Отступ сверху */
}

/* Стили для кнопки удаления */
.delete-order-btn {
    padding: 6px 12px; /* Уменьшаем размер кнопки */
    background-color: #dc3545; /* Красный цвет */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px; /* Уменьшаем размер шрифта */
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.delete-order-btn:hover {
    background-color: #c82333; /* Темнее красный при наведении */
}

/* Стили для кнопки смены статуса */
.update-status-btn {
    padding: 6px 12px; /* Уменьшаем размер кнопки */
    background-color: #0070FF; /* Насыщенный синий (#0070FF) */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px; /* Уменьшаем размер шрифта */
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.update-status-btn:hover {
    background-color: #0063d6; /* Менее тёмный синий при наведении */
}

.ellipsis {
    display: flex;
    flex-direction: row-reverse;
    text-align: start;
    position: relative;
}

.ellipsis a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #007bff;
    font-size: 14px; /* Размер текста */
    border-radius: 5px; /* Скругление углов */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавные переходы */
    display: flex;
    align-items: center; /* Выравниваем текст и иконку по центру */
    gap: 5px; /* Расстояние между текстом и иконкой */
}

.ellipsis a:hover {
    color: #0056b3;
}

.status-popup-wrapper {
    position: relative;
}

.status-popup {
    position: absolute;
    width: 130px !important;
    bottom: 25px;
    left: -63px;
}
