{% extends 'base/base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static "base/css/home.css" %}">
{% endblock %}

{% block main %}
    <div class="coffee-description">
        <h1>Добро пожаловать в нашу кофейную систему!</h1>
        <p class="intro">Наши решения для управления заказами кофе — это не
            просто удобство, это инновация. Мы создали систему, которая
            помогает вам легко выбрать ваш любимый кофе, оформить заказ и
            насладиться каждым глотком.</p>

        <h2>Как это работает:</h2>
        <ol class="steps">
            <li><strong>Добавление заказа</strong> Через веб-интерфейс
                пользователь вводит номер стола и список блюд с ценами
            </li>
            <li><strong>Удаление заказа:</strong> Пользователь через
                веб-интерфейс выбирает заказ по ID и удаляет его из системы.
            </li>
            <li><strong>Поиск заказа:
            </strong> Возможность поиска заказов по номеру стола или статусу
                через поисковую строку.

            </li>
            <li><strong>Отображение всех заказов:
            </strong> Выберите, как вам
                Веб-страница с таблицей всех заказов, отображающая их ID, номер
                стола, список блюд, общую стоимость и статус.
            </li>
            <li><strong>Изменение статуса заказа:
            </strong> Пользователь через интерфейс выбирает заказ по ID и
                изменяет его статус (“в ожидании”, “готово”, “оплачено”).
            </li>
            <li><strong>Расчет выручки за смену:
            </strong> Отдельная страница или модуль для расчета общего объема
                выручки за заказы со статусом “оплачено”.
            </li>
        </ol>

        <h3>Почему этот проект лучше всех?</h3>
        <ul class="benefits">
            <li>Реализована Документация</li>
            <li>Реализована Тестирование</li>
        </ul>

        <p class="call-to-action">Буду рад сотрудничать с вами</p>
    </div>
{% endblock %}