{% extends 'base/base.html' %}
{% load static %}

{% block title %}Страница не найдена{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'base/css/errors.css' %}">
{% endblock %}

{% block main %}
    <div class="error-container">
        <div class="error-content">
            <h1 class="error-title">404</h1>
            <p class="error-message">Страница не найдена</p>
            <p class="error-description">
                Запрашиваемая страница не существует. Возможно, она была
                удалена или перемещена.
                Пожалуйста, проверьте адрес или вернитесь на главную страницу.
            </p>
            <a href="{% url 'base:home' %}" class="home-button">Вернуться на
                главную</a>
        </div>
    </div>
{% endblock %}