{% extends 'base/base.html' %}
{% load static %}

{% block title %}Ошибка сервера{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'base/css/errors.css' %}">
{% endblock %}

{% block main %}
    <div class="error-container">
        <div class="error-content">
            <h1 class="error-title">500</h1>
            <p class="error-message">Ошибка сервера</p>
            <p class="error-description">
                На сервере произошла ошибка. Попробуйте позже или свяжитесь с
                администратором.
            </p>
            <a href="{% url 'base:home' %}" class="home-button">Вернуться на
                главную</a>
        </div>
    </div>
{% endblock %}
