<div class="order-card">
    <a href="{{ order.get_absolute_url }}" class="order-card-link">
        <h2 class="order-title">Заказ #{{ order.id }}</h2>

        <!-- Order Details -->
        <p class="order-details">
            <strong>Номер стола:</strong>
            {{ order.table_number }}
        </p>
        <p class="order-details">
            <strong>Общая стоимость:</strong>
            {{ order.total_price }} BYN
        </p>
        <p class="order-details">
            <strong>Статус:</strong>
            {% include "orders/shared/status.html" with order=order %}
        </p>

        <!-- Order Items -->
        {% if order.items.all %}
            <p class="order-items-title"><strong>Список блюд:</strong></p>
            <ul class="order-items">
                {% for item in order.items.all|slice:":4" %}
                    <li>
                        <span>{{ item.dish }} {{ item.price }} BYN - {{ item.quantity }} шт.</span>
                    </li>
                {% endfor %}
            </ul>
            {% if order.items.all|length > 4 %}
                <li class="ellipsis">
                    <a href="{% url 'orders:detail' order.id %}">Посмотреть
                        все {{ order.items.all|length }} блюд </a>
                </li>
            {% endif %}
        {% else %}
            <p class="empty-message">В этом заказе пока нет блюд.</p>
        {% endif %}
    </a>

    <!-- Order buttons -->
    <div class="order-actions">
        <button class="update-status-btn" data-order-id="{{ order.id }}">
            Сменить статус
        </button>

        <!-- Change status button -->
        <div class="status-popup-wrapper">
            <div class="status-popup hidden"
                 id="statusPopup-{{ order.id }}">
                <form action="{% url 'orders:update' order.id %}"
                      method="POST">
                    {% csrf_token %}

                    <select name="status" id="id_status">
                        {% for value, display in update_status_form.fields.status.choices %}
                            <option value="{{ value }}"
                                    {% if order.status == value %}
                                    selected{% endif %}>
                                {{ display }}
                            </option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="confirm-btn">
                        Сохранить
                    </button>
                </form>
            </div>
        </div>

        <!-- Delete button -->
        <form action="{% url 'orders:delete' order.id %}" method="post"
              class="delete-form">
            {% csrf_token %}
            <button type="submit" class="delete-order-btn">Удалить</button>
        </form>
    </div>
</div>

{% include "orders/shared/delete_confirmation_model.html" %}
