{% extends "base.html" %}

{% block title %}Page Not Found - 404{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
{% endblock %}

{% block main %}
    <div class="not-found-container">
        <div class="not-found-content">
            <h1>404</h1>
            <h2>Oops! Page Not Found</h2>
            <p>The page you're looking for doesn't exist or has been moved.</p>
            <a href="{% url 'orders:list' %}" class="home-button">Go Back
                Home</a>
        </div>
    </div>
{% endblock %}
