<header class="header">
    <nav class="menu">
        <div>
            <a href="{% url 'base:home' %}"
               class="{% if selected == "home" %}selected{% endif %}">Главная</a>
        </div>
        <div>
            <a href="{% url 'orders:list' %}"
               class="{% if selected == "orders" %}selected{% endif %}">Заказы</a>
        </div>
        <div>
            <a href="{% url 'orders:list' %}"
               class="{% if selected == "..." %}selected{% endif %}">Выручка</a>
        </div>
    </nav>
</header>