{% extends 'base.html' %}
{% load static %}

{% block title %}Детали заказа #{{ order.id }}{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="page-title">Детали заказа #{{ order.id }}</h1>

        <p><strong>Номер стола:</strong> {{ order.table_number }}</p>
        <p><strong>Общая цена:</strong> {{ order.total_price }} ₽</p>
        <p><strong>Статус:</strong> {{ order.get_status_display }}</p>

        {% if order.items.all %}
            <h3>Блюда:</h3>
            <ul>
                {% for item in order.items.all %}
                    <li><strong>{{ item.dish }}</strong> — {{ item.price }} ₽
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>В этом заказе пока нет блюд.</p>
        {% endif %}

        <a href="{% url 'orders:list' %}" class="back-to-list-btn">Назад к
            списку заказов</a>
    </div>
{% endblock %}