{% extends 'base/base.html' %}
{% load static %}

{% block title %}Заказ #{{ order.id }}{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'orders/css/detail.css' %}">
    <link rel="stylesheet"
          href="{% static 'orders/css/shared/back_to_orders.css' %}">
    <link rel="stylesheet"
          href="{% static 'orders/css/shared/delete_confirmation_model.css' %}">
    <link rel="stylesheet"
          href="{% static 'orders/css/shared/status_popup.css' %}">
{% endblock %}

{% block main %}
    <div class="back-to-order-wrapper">
        {% include "orders/shared/back_to_order.html" %}
    </div>

    <div class="container">
        <h1 class="page-title">Заказ #{{ order.id }}</h1>

        <!-- Order info -->
        <div class="order-info">
            <p><strong>Номер стола:</strong> {{ order.table_number }}</p>
            <p><strong>Общая стоймость:</strong> {{ order.total_price }} BYN
            </p>
            <p class="order-details">
                <strong>Статус:</strong>
                {% include "orders/shared/status.html" with order=order %}
            </p>
        </div>

        <!-- Order items list -->
        {% if order.items.all %}
            <h3>Список блюд:</h3>
            <ul class="order-items-list">
                {% for item in order.items.all %}
                    <li class="order-item">
                        <div class="item-name">{{ item.dish }}</div>
                        <div class="item-price">{{ item.price }} BYN</div>
                        <div class="item-quantity">x{{ item.quantity }}</div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-items">В этом заказе пока нет блюд.</p>
        {% endif %}

        <!-- Order buttons -->
        <div class="actions">
            <button class="update-status-btn" data-order-id="{{ order.id }}">
                Сменить статус
            </button>

            <!-- Change status button -->
            <div class="status-popup-container">
                <div class="status-popup hidden"
                     id="statusPopup-{{ order.id }}">
                    <form action="{% url 'orders:update' order.id %}"
                          method="POST">
                        {% csrf_token %}
                        {{ update_status_form.status.as_widget }}
                        <input type="hidden" name="redirect_to_detail"
                               value="True">
                        <button type="submit" class="confirm-btn">Сохранить
                        </button>
                    </form>
                </div>
            </div>

            <!-- Delete button -->
            <form action="{% url 'orders:delete' order.id %}" method="post"
                  class="delete-form">
                {% csrf_token %}
                <button type="submit" class="delete-order-btn btn btn-delete">
                    Удалить заказ
                </button>
            </form>
        </div>
    </div>

    {% include "orders/shared/delete_confirmation_model.html" %}
{% endblock %}

{% block scripts %}
    <script defer
            src="{% static "orders/js/shared/status_pop_up.js" %}"></script>
    <script src="{% static "orders/js/detail.js" %}"></script>
{% endblock %}